<!DOCTYPE html>
<html lang="ee" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tarbatu - Omanikud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div class="jumbotron jumbotron-fluid text-center" id="peariba">
    <div>
        <h1>Tarbatu Siseveeb</h1>
    </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="colNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Pealeht</a>
            <li class="nav-item">
                <a class="nav-link" href="/users">Kasutajad</a>
            <li class="nav-item">
                <a class="nav-link" href="/liitu">Liitu</a>
            <li class="nav-item">
                <a class="nav-link" href="/liikmed">Omanikud</a>
        </ul>
    </div>
</nav>

<h1>Omanikud</h1>

<ul>
    <li th:each="liige : ${liikmed}" th:text="${liige.getEesnimi()}"></li>
</ul>

</body>
</html>