*{
    cursor: wait;
}

.hide-me{
    visibility: hidden;
}

#backg{
    pointer-events: none;
    position: absolute;
    left: 0;
}

#map{
    width: 40rem;
    height: 25rem;
}

#peariba{
    margin-bottom: 0;
    max-height: 250px;
}

#map:hover{
    box-shadow: 0 0 0.6rem dimgray;
}