<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title>Tarbatu - Sisenemine</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min-3.3.7.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/mainPage.js"></script>
</head>

<body>

<div class="jumbotron jumbotron-fluid text-center" id="peariba">
    <div>
        <h1>Tarbatu Siseveeb</h1>
    </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#colNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-link" href="/">Tarbatu</a>
        </div>
        <div class="collapse navbar-collapse" id="colNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/users">Kasutajad</a></li>
                <li class="nav-item"><a class="nav-link" href="/liitu">Liitu</a></li>
                <li class="nav-item" sec:authorize="isFullyAuthenticated()"><a class="nav-link" href="/user">Minu Kasutaja</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" sec:authorize="!isFullyAuthenticated()"><a th:href="@{/userlogin}">Sisene</a></li>
                <li class="nav-item" sec:authorize="isFullyAuthenticated()"><a class="nav-link" href="/logout">Logi välja</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1>Login page</h1>
<form th:action="@{/userlogin}" th:object="${loginForm}" method="post">
    <p th:if="${invalidCredentials}" class="error">Vale kasutajanimi või salasõna</p>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" autofocus/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <button type="submit" class="btn btn-success">Liitu</button>
</form>

<h1>Google login</h1>
<div class="container">
    <div class=" col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Google login with OAuth2</div>
            <div class="panel-body">
                <div class="col-md-12" sec:authorize="!isFullyAuthenticated()">
                    <a class="btn btn-default" href="/google/login">Google Login</a>
                </div>
                <div class="col-md-12" sec:authorize="isFullyAuthenticated()">
                    <a class="btn btn-default" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "js/jquery-3.3.1.min.js";
        document.body.appendChild(element);
    }
    if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
</script>
</body>
</html>