<!DOCTYPE html>
<html lang="ee" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tarbatu</title>
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa01r_rDG2q4cubPehFnkaIsIH5L9p_P8"></script>
    <script src="js/mainPage.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>


<body onload="initMain()">
<header><h1>Tarbatu siseveeb</h1></header>

<a th:href="@{/login}">Logi sisse</a>
<p th:text= "'Tere tulemast tekstirida'"></p>
<div id = "map"></div>
<br>

<footer>KarlKarlKarl 2018</footer>
</body>


</html>