<!DOCTYPE html>
<html lang="ee" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tarbatu</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/mainPage.js"></script>
</head>
<body onload="initMain()">
<header>Tarbatu siseveeb</header>
<br><p>Lehe omanikud</p>
<ul>
    <li th:each="liige : ${liikmed}" th:text="${liige.getEesnimi()}"></li>
</ul>
<p th:text= "'Meid on kokku ' + ${hulk}"></p>
<div id="pilt"></div>
<footer>KarlKarlKarl 2018</footer>
</body>
</html>